/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;

}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;

}
.main-header{
background-color: #D3D3D3;
}
.main-nav {
	margin-top: 5px;
list-style-type: none;

}


.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	background: #D3D3D3;
	padding: 1.2em 0;
	margin-bottom: 15px;
}
.pheader
{
	text-align: center;
}
.subhead{
	text-align: center;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 5em ;
	margin-top: 30px;
}
.main-nav2{
	float:right;
	display: none;
}

.main-nav2 li{
display: inline-block;

margin-left: 25px;
margin-top: 35px;

}
.name2{
	float: left;

}
.back{
	display: inline-block;
float:right;
	margin-right: 20px;

}


/* ---- Page Elements ---- */



.headline {
	margin-bottom: 0;
}

/* =================================
  Media Queries
==================================== */
@media (max-width: 320px) {
	.main-nav{
	margin-right: 10%;
	}
	.main-nav li{
		background-color: white;

		margin: 1em;
	}

.logo{
width: 90%;
margin-left: auto;
margin-right: auto;

}
h1{
	font-size:1em;
}
}
@media (min-width: 768px) {

	.container {
		width: 90%;
		margin: 0 auto;
	}
.logo{

width:40%;
display: block;
margin-bottom: 2em;

}

	.col {
		float: left;
	}

	.primary,
	.secondary,
	.tertiary {
		width: 50%;
	}


.main-nav{
	text-align: center;
}
	.main-nav li {
background-color: #D3D3D3;
		display: inline-block;

		margin-left: 15px;
	}

	.tagline {
		float: left;
		font-size: 1.4em;
		margin-left: 1em;
		width: 50%;
	}
	.main-footer{
		max-height: 50%;

	}
	.main-nav2{
		display:block;
	}
	.back{ display: none;}


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {

	.container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;

	}
	.name{
		float: left;
	}
	.main-nav{
		float:right;
	}

	.main-nav li{
	display: inline-block;
background-color:#D3D3D3;
	margin-left: 25px;


	}

.logo{
	width:40%;
}

	.secondary,
	.primary,
	.tertiary {
		width: 33.3%;

	}
.back{
	display: none;
}
}
